@tailwind base;
@tailwind components;
@tailwind utilities;

.search-heading {
    text-align: center;
}


.search-bar-section {
    text-align: center;
    margin: 40px 0;
}

.search-input {
    padding: 10px;
    width: 600px;
    font-size: 1em;
    outline: 3px ridge #2e3a46 ;
    border-radius: 1rem;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #2e3a46;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.apartment-type {
    margin-left: 10px;
}